{{#link-to 'question.newanswer' this.id class="btn btn-success"}}Provide an answer{{/link-to}}
<button class="btn btn-primary" {{action 'edit'}}>Edit this question</button>
<button class="btn btn-danger" {{action 'delete'}}>Delete this question</button>

<br>
<br>

{{#if isEditing}}
  <form>
    <div class="form-group">
      <label for="asked">Ask your question: </label>
      {{textarea id="asked" class="form-control" rows="2" value=asked}}
    </div>

    <div class="form-group">
      <label for="description">Provide more details: </label>
      {{textarea id="description" class="form-control" rows="5" value=description}}
    </div>

    <div class="form-group">
      <label for="author">Name: </label>
      {{input id="author" class="form-control" value=author}}
    </div>

    <button class="btn btn-primary" {{action 'save'}}>Save</button>
  </form>

{{else}}

  <div class="row">
    <div class="col-md-8">
      <h4>{{model.asked}}</h4>
      <h5>Details: {{model.description}}</h5>
      <h5>Author:  {{model.author}}</h5>
    </div>
  </div>

{{/if}}

<hr>

  <table class='table'>
    <thead>
      <tr><th>Answers</th></tr>
    </thead>

    <tbody>
      {{#each answer in answers}}
        <tr>
          <td>
            {{answer.text}}<br><small class='muted'>{{answer.date}}</small>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{outlet}}
